<div class="col-md-12">

  <div class="jumbotron">
    <h1>Current Task List</h1>
    <p>Task list will go here. Functionality will be "complete task", Task name, task desc, and time remaining</p>
    <!-- <p><a class="btn btn-primary btn-lg">Learn more</a></p> -->
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your Info</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <h5>Hello <%= @user.email %></h5>
      </div>
      <div class="col-md-6">
        <p><%= "You have logged in #{pluralize(@user.sign_in_count, 'time')} since creating your account #{time_ago_in_words(@user.created_at)} ago." %></p>
        <p> <%= "You have been here for #{time_ago_in_words(@user.last_sign_in_at)} and have completed (a number) of tasks."%></p>
      </div>
    </div>
  </div>
</div>
